html {
    
    background-color: #13191E;
}
body { 
    font-family: "Montserrat", sans-serif; 
    margin: 0; padding: 0; 
}

nav {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 700;
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav #menu-mobile {
    display: none;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.95);
    height: 100vh;
    position: absolute;
    z-index: -1;
    height: 100vh;
    background:linear-gradient(123deg,rgba(0,0,0,0.95),#00CED1);
    background-size: 400% 400%;
    animation:  backgroundgradient 10s ease infinite;
}

nav #menu-mobile a {
    color: white;
    text-decoration: none;
}

nav #menu-mobile h2 {
    font-family: 'K2D';
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -50px; 
}

nav #menu-mobile ul {
    width: 60%;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    position: relative;
    top: 50%;
    margin-top: -180px;
    left: 50%;
    margin-left: -30%;
}

nav #menu-mobile li {
    margin: 10%;
    padding: 2px;
    border: 2px white solid;
}

nav #menu-desktop{
    margin: 0 auto;
    padding: 0;
}

nav #menu-desktop li{
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 2px;
}

nav #menu-desktop li:hover {
    background-color: rgba(0,250,0,0.1);
    animation: btncair linear 0.2s;
}

nav #menu-desktop a {
    color: white;
    text-decoration: none;
}

#menu-hamburguer {
    display: none;
}

.social{
    position: fixed;
    width: 50px;
    left: 97%;
    margin-left: -25px;
    text-align: center;
    top: 50%;
    margin-top: -70px;
}

.social img {
    padding: 5px 0;
    width: 30px;
    margin: 0 auto;
    cursor: pointer;
}

.social img:hover {
    transform: scale(1.3);
}

.social-final {
     padding: 5px 0;
    margin: 0 auto;
    text-align: left;
    float: left;
    border-bottom: 1px solid white;
}

.social-final img {
    
     padding: 5px 0;
    width: 30px;
    margin: 0 auto;
    cursor: pointer;
}


.social-final img:hover {
    transform: scale(1.3);
}

.social-final p img {
    width: 18px;
}

.menu-final ul {
    padding: 0;
    list-style: none;
}

.menu-final li {
    margin: 3%
}

.menu-final a {
    text-decoration: none;
    color: white;
}

.menu-final a:hover {
    text-decoration: none;
    color: darkseagreen;
}

section.contato {
    width: 100%;
    font-weight: 500;
}

section.contato h3{
    font-size: 17px;
}

.arrow {
    position:absolute;
    left: 2%;
    top: 90%;
    margin-top: -40px;
    width:70px;
    animation: arrow 1s linear infinite;
    cursor: pointer;
}

#arrow-up {
    position:fixed;
    left: 98%;
    top: 93%;
    margin-left: -50px;
    margin-top: -40px;
    width:50px;
    animation: arrow 1s linear infinite;
    cursor: pointer;
    display: none;
}


.main-content {
    width: 100%;
    background-color: #13191E;
    margin-top: 50px;
}

section {
    font-family: 'Montserrat',sans-serif;
    color: aliceblue;
    text-align: center;
    padding:5%;
    width: 100%;
    overflow: hidden;
    word-spacing: 5px;
}

.main-content section h1 {
    
    font-family: 'Shadows Into Light',sans-serif;
}
.works{
    display: flex;
    flex-wrap: wrap;
    column-count: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.work {
    width: 250px;
    margin: 10px;
    background-color: black;
}

.work button {
    border: none;
    background-color: green;
    width: 100%;
    height: 40px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.workimg {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    background-color: black;
    overflow: hidden;
}

.workimg img {
    object-fit: cover;
    object-position: bottom;
}

.dialogbox {
    width: 100%;
    height: 70vh;
    background:linear-gradient(123deg,#FF69B4,#1665c1);
    background-size: 400% 400%;
    animation:  backgroundgradient 30s ease infinite;
    font-family: 'K2D',sans-serif;
    color: white;
    text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
}

.dialog h2 {
    width: 60%;
    font-size: 24px;
    margin: 0 auto;
}
.dialog img {
    width: 100px;
    margin-bottom: 20px;
    animation: animateimg  infinite;
    animation-timing-function: step-end;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes animateimg {

    0% { transform: rotate(15deg)}
    50% { transform: rotate(-15deg) }
    100% { transform: rotate(0deg) }
    
}

@keyframes backgroundgradient {

    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
    
} 

.outroscontatos {
    float: left;
    margin:10%;
}

details {
    margin: 0 auto;
    text-align: center;
    background-color: #13191E;
    color: white;
    font-size: 13px;
    padding: 3%;
}

details img {
    width: 25px;
}

/*MEDIA QUERIES*//*MEDIA QUERIES*//*MEDIA QUERIES*//*MEDIA QUERIES*//*MEDIA QUERIES*//*MEDIA QUERIES*/

@media only screen and (max-width:750px) {
    nav {
        position: fixed;
    }
    
    nav .menu {
        background-color: rgba(0,0,0,0.2);
    }
    
    nav #menu-desktop{
        display: none;
    }
       
    section .quem_sou {
        width: 90%;
        display: block;
        margin: 50px auto 0;
        text-align: center;
    }

    .menu {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .hamburguer {
        position: relative;
        display: block;
        background: #fff;
        width: 30px;
        height: 2px;
        top: 29px;
        left: 15px;
        transition: .5s ease-in-out;
    }

    .hamburguer:before,
    .hamburguer:after {
        background: #fff;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .hamburguer:before {
        top: -10px;
    }

    .hamburguer:after {
        bottom: -10px;
    }

    input {
        display: none;
    }

    input:checked ~ label .hamburguer {
        transform: rotate(45deg);
    }

    input:checked ~ label .hamburguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    input:checked ~ label .hamburguer:after {
        transform: rotate(90deg);
        bottom: 0;
    }

    .arrow {
        top: 98%;
        width:40px;
        left: 50%;
        margin-left: -20px;
    }
    
    #arrow-up {
        width:40px;
        
    }
    
    .main-content {
        text-align: center;
    }

    .main-content section {
        padding:5%;
        width: 100%;
        font-size: 17px;
        height: 100%;
    }

    .main-content section .perfil {
        width: 150px;
        height: 150px;
    }

    .dialog h2 {
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
    }
    .outroscontatos {
        float: none;
        margin: 0 auto;;
    }
    
    #box-user {
        margin: 0 auto;
        width: 90%;
        float: none;
    }

}

@media only screen and (max-width:440px) {

    .main-content section {
        font-size: 15px;
    }
    
    .social-final {
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
}

@media only screen and (max-width:340px) {
    .main-content section {
        font-size: 13px;
    }
    
}

/*KEYFRAMES HERE*//*KEYFRAMES HERE*//*KEYFRAMES HERE*//*KEYFRAMES HERE*//*KEYFRAMES HERE*//*KEYFRAMES HERE*/


@keyframes arrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(4px);
    }
}

@keyframes btncair {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

.aparecer {
    
    animation: aparecer linear 2s;
    
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}