body {
    font-family: 'K2D', sans-serif;
    padding: 0;
    margin: 0;
}

/*
    background:linear-gradient(123deg,rgba(0,0,0,0.95),#00CED1);
    background-size: 400% 400%;
    animation:  backgroundgradient 10s ease infinite;
*/


@keyframes backgroundgradient {

    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }

}

header {
    width: 100%;
    margin: 0 auto;
    height: 220px;
    text-align: center;
}


header #perfil {
/*    float: right;*/
}
header img {
    width: 50px;
    border-radius: 50%;
    border: groove 2px dodgerblue;
   
}

header h3 {
    color: indigo;
}

header #perfil button {
    background-color: dodgerblue;
    color: white;   
    padding: 5px 10px;
    border: groove dodgerblue 1px;
    cursor: pointer;
    display: inline-block;
}

.botao-scale:hover {
    transform: scale(1.1);
}

main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    border-bottom: groove 2px dodgerblue;
}   

#add_produto, #gestao_usuario {
    width: 45%;
    height: 100%;
    text-align: center;
    margin: 10px;padding: 10px;
}

#add_produto form, #gestao_usuario form {
    background-color: white;
}

#add_produto form input, #gestao_usuario form input,#add_produto form textarea {
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: transparent;
    border-bottom-style: dashed;
    border-color: dodgerblue;
    border-radius: 30px;
}

#add_produto form textarea {
    min-height: 100px;
    min-width: 50%;
}

#add_produto form input[type="checkbox"],#add_produto form input[type="radio"],#gestao_usuario form input[type='radio'] {
    display: inline;
    display: inline;
    margin: 2px;
    word-break: break-all;
    margin:  10px;
}

#add_produto form input[type='submit'], #gestao_usuario form input[type='submit']{
    background-color: dodgerblue;
    border: none;
    color: white;
    width: 80%;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

#gestao_usuario form input[type='submit'] {
    background-color: limegreen;
}

#tabelas {
    margin: 0 auto;
    width: 80%;
    clear: both;
    text-align: center;
}

#tabelas .tabela_usuarios, #tabelas .tabela_produtos {
    min-height: 300px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
}

table {
    margin: 0 auto;
    width: 90%;
    word-break: break-all;
}

table thead {
    background-color:dodgerblue; color:black; font-weight: 100;
}

table tbody:nth-child(odd) {
    background-color:#bedbf4;
}

details {
    clear: both;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
}


@media only screen and (max-width:815px) {
    main #add_produto, #gestao_usuario {
        width: 70%;
    }
}

@media only screen and (max-width:893px) {
    .tabela_usuarios table th:nth-child(4), .tabela_usuarios table th:nth-child(6), .tabela_usuarios table th:nth-child(2){
        display: none;
    }
    
    .tabela_produtos table th:nth-child(4), .tabela_produtos table th:nth-child(2) {
        display: none;
        
    }
}

@media only screen and (max-width:515px) {
    main #add_produto, #gestao_usuario {
        width: 80%;
    }
    
    #tabelas, table {
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    main #add_produto, #gestao_usuario {
        width: 90%;
    }
}